# byte-compiled / optimized / DLL files
__pycache__/*
*.py[cod]
*.pyc
apps/home/__pycache__/*
apps/authentication/__pycache__/*
shop/__pycache__/*
wallet/__pycache__/*
# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json
apps/home/migrations/*
apps/authentication/migrations/*
apps/wallet/migrations/*
apps/shop/migrations/*
staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp
postgres-data
