

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
               
                   
                   Django Task #1
                
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; 
                   
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">Akshay</a>
          </div>
        </div>
    </footer>
