{% extends 'layouts/base.html' %}

{% block stylesheets %}
<style>
    .quantity__minus,
.quantity__plus {
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #495057;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  user-select: none;
  width: 36px;
  height: 36px;
  padding: 0;
}

.quantity__minus:hover,
.quantity__plus:hover {
  background-color: #f8f9fa;
}

.quantity__input {
  text-align: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.quantity__input:focus {
  outline: none;
  box-shadow: none;
  border-color: #80bdff;
}


.quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity__input {
    flex: 1;
    max-width: 60px; /* adjust this value to your needs */
    margin: 0 10px; /* adjust this value to your needs */
    
  }
     </style>
{% endblock stylesheets %}
{% block content %}
  {% if cart_items %}
  <div class="card">
    <div class="container">
        {% csrf_token %}
        <h1 class="my-4">My Cart</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>action</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in cart_items %}
                    <tr>
                      <input type="hidden"  value="{{ item.product.id }}" class="prod_id">
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.description }}</td>
                        <td >{{ item.product.price }}</td>
                        {% comment %} <td>  <input type="number" step="1" max="{{item.product.stock}}" min ="1" value="{{ item.quantity }}" name="quantity" class="quantity-field border-0 text-center w-25"></td> {% endcomment %}


                           <td> 
                            <div class="quantity input-group">
                                <div class="input-group-prepend">
                                  <button class="btn btn-outline-secondary quantity__minus quant" type="button">-</button>
                                </div>
                                <input name="quantity" type="number" class="form-control quantity__input" step="1" max="{{item.product.stock}}" value="{{item.quantity}}" disabled>
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary quantity__plus quant" type="button">+</button>
                                </div>
                              </div>

                        </td>
                        <td class="subtotal">{{ item.get_product_price }}</td>
                        <td><a  class="btn btn-danger" href="{% url 'remove_cart' item.product.id %}"> delete </a></td>
                    </tr>

                {% endfor %}
                <tr>
                    <td colspan="4"><strong>Total</strong></td>
                    <td class="total"><strong>{{ total_price }}</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'checkout_address' %}" class="btn btn-success float-right">Buy</a>
    </div>

    {% else %}
    <div class="container">
        <h1 class="my-4">Cart is empty</h1> 

        <a href ="{% url 'shop' %}" class="btn btn-success"> Go to Shop </a> </div>

        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        /*
        const minus = $('.quantity__minus');
        const plus = $('.quantity__plus');
        const input = $('.quantity__input');
        minus.click(function(e) {
          e.preventDefault();
          var value = input.val();
          if (value > 1) {
            value--;
          }
          input.val(value);
        });
        
        plus.click(function(e) {
          e.preventDefault();
          var value = input.val();
          value++;
          input.val(value);
        });
        $('.quant').click(function(e) {
            e.preventDefault();
            var prod_id = $(this).closest('tr').find('.prod_id').val();
            var quantity = $(this).closest('tr').find('.quantity__input').val();
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                method: 'POST',
                data:{'prod_id': prod_id, 'quantity': quantity, csrfmiddlewaretoken : token},
                url: '/update_cart'

            });
            location.reload(true);
            location.reload(true);
        }); */
       $('.quant').click(function(e) {
            e.preventDefault();
            var prod_id = $(this).closest('tr').find('.prod_id').val();
            var input = $(this).closest('tr').find('.quantity__input');
            var quantity = parseInt(input.val());
            if ($(this).hasClass('quantity__minus') && quantity > 1) {
              quantity--;
            } else if ($(this).hasClass('quantity__plus')) {
              quantity++;
            }
            input.val(quantity);
            input.trigger('input'); // Trigger input event to update subtotal and total
            var token = $('input[name="csrfmiddlewaretoken"]').val();
           
                $.ajax({
                    method: 'POST',
                    data:{'prod_id': prod_id, 'quantity': quantity, csrfmiddlewaretoken : token},
                    url: '/update_cart',
                    success: function() {
                    location.reload(true);
                    }
                });
            
        }); 

        /*$('.quantity__input').on('input', function() {
            var quantity = parseInt($(this).val(),10)
            console.log('--------------------------------------')
            console.log('quantity:', quantity);
            var price = $(this).closest('tr').find('td:nth-child(3)').text();
            price = parseFloat(price);
            var subtotal = quantity * price;
            $(this).closest('tr').find('.subtotal').text(subtotal.toFixed(2));

            var total = 0;
            $('.quantity__input').each(function() {
              var subtotal = parseFloat($(this).closest('tr').find('.subtotal').text());
              total += subtotal;
            });
            $('.total').text(total.toFixed(2));
        }); */
    });   

</script>

{% endblock javascripts %}