{% extends 'layouts/base.html' %}

{% block title %}
  Address
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <h3 class="my-2">Order summary </h3>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                              <input type="hidden"  value="{{ item.product.id }}" class="prod_id">
                                  <td>{{ item.product.name }}</td>
                                  <td >{{ item.product.price }}</td>
                                  <td >{{ item.quantity }}</td>
                                  <td class="subtotal">{{ item.get_product_price }}</td>
                            </tr>

                        {% endfor %}
                        <tr>
                            <td colspan="3"><strong>Total</strong></td>
                            <td class="total"><strong>{{ total_price }}</strong></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
          </div>


        </div>

  
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Address Form</div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id_first_name">First Name:</label>
                {{ form.first_name }}
              </div>
              <div class="form-group col-md-6">
                <label for="id_last_name">Last Name:</label>
                {{ form.last_name }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_address">Address:</label>
              {{ form.address }}
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id_city">City:</label>
                {{ form.city }}
              </div>
              <div class="form-group col-md-4">
                <label for="id_state">State:</label>
                {{ form.state }}
              </div>
            
            </div>
            <div class="form-row ">
              <div class="form-group  col-md-6">
                <label for="id_country">Country:</label>
                {{ form.country }}
              </div>
              <div class="form-group col-md-3  ">
                <label for="id_pincode">Pincode:</label>
                {{ form.pincode }}
              </div>
            </div> 

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
