{% extends "layouts/base.html" %}

{% block title %} Payment  {% endblock %} 

{% block content %}
<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
<div class= "1 select">
    wallet balance : {{ wallet}} <br>
    balance after payment : {{ balance }} <br> </div>

    <div class= "2 select">
    <label for="fname">Code:</label> </br>
    <input type="text" id="fname" name="fname"> </br> </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
error : {{error_message}}
{% endblock content %}
{% block javascripts %}
<script>
  $(document).ready(function() {
    $('input[type="radio"]').click(function() {
      var inputValue = $(this).attr("value");
      if (inputValue) {
        var targetBox = $("." + inputValue);
        $(".select").not(targetBox).hide();
        $(targetBox).show();
      } else {
        $(".select").hide();
      }
    });
  });
  
    </script>
  {% endblock javascripts  %}