{% extends "layouts/base.html" %}



{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Add category
</button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <form role="form" method="post" action="">
      {% csrf_token %} 

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="bmd-label-floating">Add category</label>
            {{ form.category_name }}
          </div>
        </div>
      </div>
      <input type="submit" value="Submit">
  </form>
</div>

</div>             
   
<div class="card"> 
    
    <div class="table-responsive"> 
    <table class="table">
      <thead class=" text-primary">
          <tr>
            <th>Select</th>
            <th>category</th>
            <th>products</th>
            <th>action</th>

          </tr>
        </thead>
        <tbody>
         
          {% for category in categories %}
          <tr>
            <td><input type="checkbox"  value="{{ category.id }}"></td>
            <td>{{ category.category_name }}</td>
            <td> <a href="{% url 'product_view'%}" > products </a> </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    {% endblock content %}