
{% extends "layouts/base.html" %}
{% block stylesheets %}  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endblock stylesheets %}
{% block content %}
<div class="d-flex justify-content-between">
<h1>Coupon List</h1>
<div class="d-flex align-items-center"><a class= "btn btn-primary" href="{% url 'generate_coupons' %}">Generate Coupon</a>
</div>
</div>
  <div class="card"> 
  <div class="table-responsive"> 
  <table class="table">
    <thead class="text-primary">
      <tr>
        <th>Code</th>
        <th>Discount Amount</th>
        <th>Expiration Date</th>
        <th>Used</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for coupon in coupons %}
        <tr>
          <td>{{ coupon.code }}</td>
          <td>{{ coupon.discount_amount }}</td>
          <td>{{ coupon.expiration_date }}</td>
          <td>{% if coupon.is_used %}Yes{% else %}No{% endif %}</td>
          <td>
            <a href="{% url 'use_coupon' coupon.id %}">Mark as Used</a>
            <a href="{% url 'delete_coupon' coupon.id %}" ><i class="fa fa-solid fa-trash fa-xl"></i></a>
            <button onclick="copy('{{ coupon.code }}','#copy_button')" id="copy_button" ><i class="fa fa-clone "></i></button> 
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
  function copy(text) {
    var message = document.createElement('div');
    message.innerHTML = 'Copied!';
    message.style.position = 'absolute';
    message.style.top = '10px';
    message.style.left = '50%';
    message.style.transform = 'translateX(-50%)';
    message.style.padding = '10px 20px';
    message.style.backgroundColor = '#333';
    message.style.color = '#fff';
    message.style.borderRadius = '5px';
    message.style.zIndex = '9999';
    document.body.appendChild(message);

    var input = document.createElement('input');
    input.setAttribute('value', text);
    document.body.appendChild(input);
    input.select();
    var result = document.execCommand('copy');
    document.body.removeChild(input)

    setTimeout(function() {
        document.body.removeChild(message);
    }, 800);
    return result;
}

</script>

{% endblock javascripts %}