{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_balance_wallet</i>
            </div>
            <p class="card-category">Wallet</p>
            <h3 class="card-title">{{balance}}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="{% url 'fund_deposit' %}">Add more fund</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">analytics</i>
            </div>
            <p class="card-category">Revenue</p>
            <a href = "{% url 'bonushistory'  %}"><h3 class="card-title">{{ revenue.bonusesamount__sum |default:"0.00"}}</h3> </a>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">price_change</i>
            </div>
            <p class="card-category">Expenses</p>
           <a href="{% url 'orderhistory' %}"> <h3 class="card-title">{{ expense.order_total }}</h3> </a>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header  card-header-icon">
            <div class="card-icon">
              <img src= "{{badge}}" class="img-thumbnail" style="max-width:60px;"> 
              {% comment %} <i class="fa fa-twitter"></i> {% endcomment %}
            </div>
            <p class="card-category">Badge</p>
            <h3 class="card-title">{{ expense.badge }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>

     
    <div class="row">
      <div class="col-lg-6 col-md-12">
          <div class="card">
            <div class="card-header card-header-primary ">
              <h4 class="card-title">Downline members</h4>
              <p class="card-category">Reffered members under the {{request.user.username}} </p>
            </div>
    
              <div class="table-responsive"> 
                <table class="table table-hover">
                  {% if request.user.is_superuser %}
                <thead class="text-primary">
                  <tr>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user1 in adminactive %}
                  <tr>
                    <td>{{ user1.id }}</td>
                    <td>{{ user1.username }}</td>
                    <td>{{ user1.email }}</td>
                    <td>{{ user1.first_name }} {{ user1.last_name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
          {% else %}
          <thead class="text-primary">
            <tr>
              <th>UserID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Name</th>
          
            </tr>
          </thead>
          <tbody>
            {% for user1 in active %}
            <tr>
              <td>{{ user1.id }}</td>
              <td>{{ user1.username }}</td>
              <td>{{ user1.email }}</td>
              <td>{{ user1.first_name }} {{ user1.last_name }}</td>
            </tr>
            {% endfor %}
          </tbody>
                {% endif %}
              </table>
              </div>
              </div>
              </form></div>
          
          
      
    
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Bonus Stats</h4>
            <p class="card-category">Bonus credited form the downline users</p>
          </div>
              <div class="card-body table-responsive">
                <table class="table table-striped">
                  {% if request.user.is_superuser %}
                  <thead>
                    <tr>
                      <th>User </th>
                      <th>Sponsor</th>
                      <th>Bonuses Amount</th>
                      <th>Created At</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for bonus in bonus %}
                      <tr>
                          <td>{{ bonus.user.username }} </td>
                          <td>{{ bonus.sponsor.username }} </td>
                          <td>{{ bonus.bonusesamount }}</td>
                          <td>{{ bonus.created_at }}</td>
                      </tr>
                      {% endfor %} 
                    {% else %} 
                      <thead>
                        <tr>
                          <th>User </th>

                          <th>Bonuses Amount</th>
                          <th>Created At</th>
                        </tr>
                      </thead>
                      <tbody>

                      {% for bonus in userbonus %}
                      <tr>
                          <td>{{ bonus.user.username }} </td>
                          <td>{{ bonus.bonusesamount }}</td>
                          <td>{{ bonus.created_at }}</td>
                      </tr>
                      {% endfor %}
                    {% endif %}
          
                  </tbody>
                </table>
              </div>
            </div>
            
        </div>
      </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  
      $(document).ready(function() {
        $.ajax({
          url: "{% url 'cart_count' %}",
          success: function(data) {
            $('#lblCartCount').text(data.cart_count);
          }
        });
      });
    
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
